<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiYW9pbm9pa2F6IiwiYSI6ImNsejVsanh4NDBtYTEybW9tdnptZzNianoifQ.EzZTTNxtsDAO5BqOcsoKtQ</string>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<string>YES</string>
</dict>
</plist>
